<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<th:block th:fragment="footer-section">
    <footer class="footer">
        <div class="container footer-container">

            <!-- Left: Logo / Name -->
            <div class="footer-logo">
                <h3><span class="gradient-text">Niraj Kshirsagar</span></h3>
                <p>© 2025 Niraj Kshirsagar. All Rights Reserved.</p>
            </div>

            <!-- Middle: Navigation -->
            <!-- Navigation -->
            <nav class="footer-nav">
                <div class="nav-links">
                    <a href="#about" class="nav-link">About</a>
                    <a href="#projects" class="nav-link">Projects</a>
                    <a href="#experience" class="nav-link">Experience</a>
                    <a href="#contact" class="nav-link">Contact</a>
                    <a href="/resume/Niraj_Kshirsagar_Resume.pdf" target="_blank" class="nav-link">Resume</a>
                </div>
            </nav>

            <!-- Right: Social Icons -->
            <div class="footer-icons">
                <a href="mailto:nirajkshirsagar007@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
                <a href="https://github.com/nirajkshirsagar007" target="_blank"><i class="fab fa-github"></i></a>
                <a href="https://www.linkedin.com/in/niraj-kshirsagar-7439702bb/" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
        </div>
    </footer>
</th:block>
</html>
