<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<th:block th:fragment="hero-section">
    <section class="hero" id = "home">
        <div class="hero-background"></div>
        <div class="container hero-container">
            <div class="hero-content">
                <div class="hero-greeting">Hi there, I'm</div>
                <h1 class="hero-title"><span class="gradient-text">Niraj Kshirsagar</span></h1>
                <h2 class="hero-subtitle">Software Developer</h2>
                <p class="hero-description">Passionate about building efficient applications and solving real-world problems through technology. Skilled in Java, C, C++, Spring Boot, and Web technologies, with experience in Android Development and modern software practices like Git, Maven, and Debugging.</p>
                <a href="#about" class="scroll-down">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>

    </section>

</th:block>
</html>